@using System.Globalization

<select @bind="Culture" style="width:300px; margin-left:10px; background: transparent;">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>

@code {

    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("fr-FR")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            switch (value.Name)
            {
                case "fr-FR":
                    CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("fr");
                    break;
                case "en-US":
                    CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo("en");
                    break;
            }
        }
    }
}
