@page "/"

<PageTitle>Home</PageTitle>
<div class="background-img">
    <MudContainer Class="home-container">
        <h1>Bienvenue sur Game Board Library</h1>
        Nous sommes une équipe de développeurs créant une application sur des jeux de société.
    </MudContainer>
</div>
